<app-loading-screen [isLoading]="isLoading" />

<div *ngIf="movie !== undefined;" class="d-flex flex-column  justify-content-start  gap-4 py-3">
    <!-- details header -->
    <app-header [title]=this.headerTitle [buttonImgUrl]=this.headerButtonImg
        (buttonFunction)="addMovieLocalStorage()" />

    <!-- movie title div -->
    <div class="backdrop-container d-flex flex-row  justify-content-around align-items-end px-3">
        <!-- backdrop image -->
        <img class="backdrop-img align-self-start" src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}"
            alt="movie-backdrop">
        <!-- title and poster -->
        <img class="poster-img" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}">
        <h1 class="text-light text-center">{{movie.title}}</h1>
    </div>

    <!-- movie infos -->
    <div class="movie-infos d-flex flex-row gap-2  row-cols-3 align-items-center justify-content-center  px-5  ">

        <div class="d-flex justify-content-center align-items-center gap-1">
            <img src="../../../assets/images/CalendarBlank.svg" alt="icon">
            {{movie.release_date.slice(0,4)}}
        </div>

        <div class="d-flex justify-content-center align-items-center  gap-1">
            <img src="../../../assets/images/Clock.svg" alt="icon">
            {{movie.runtime +" min" }}
        </div>

        <div class="d-flex justify-content-center align-items-center  gap-1">
            <img src="../../../assets/images/Ticket.svg" alt="icon">
            {{movie.genres[0].name}}
        </div>
    </div>

    <!-- movie info tags -->
    <div class="d-flex flex-row justify-content-center text-center fw-semibold text-light my-2">

        <div [class.active-tab]="isTabActive('About Movie')" (click)="setTab('About Movie')" class="col tab ">About
            Movie</div>
        <div [class.active-tab]="isTabActive('Reviews')" (click)="setTab('Reviews')" class="col tab">Reviews</div>
        <div [class.active-tab]="isTabActive('Cast')" (click)="setTab('Cast')" class="col tab">Cast</div>

    </div>

    <!-- movie desc -->
    <div class="text-light p-2 px-3">

        <!-- about movie -->
        <div *ngIf="isTabActive('About Movie')" class="">{{movie.overview}}</div>

        <!-- reviews -->
        <div *ngIf="isTabActive('Reviews')" class="d-flex flex-column gap-4">
            <!-- review -->
            <div *ngFor="let review of reviews?.slice(0,3)" class="d-flex flex-row gap-5">
                <!-- img and rate -->
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/images/user.png" alt="usericon">
                    <div class="text-primary fw-bolder">{{review.author_details.rating}}</div>
                </div>
                <!-- name and comment -->
                <div class="d-flex flex-column justify-content-center align-items-start">
                    <div class="fw-bold">{{review.author}}</div>
                    <div class="comment">{{review.content}}</div>
                </div>
            </div>
        </div>
        <!-- cast -->
        <div *ngIf="isTabActive('Cast')">

            <div class="row row-cols-5 d-flex justify-content-center align-items-center gap-5 ">
                <div *ngFor="let cast of casts"
                    class="d-flex flex-column justify-content-center align-items-center gap-2">
                    <img class="cast-img" src="https://image.tmdb.org/t/p/original{{cast.profile_path}}"
                        alt="actor-img">
                    <div class="text-center" >
                        <p class="fs-1 text-light">{{cast.original_name}}</p>
                        <p class="fs-5 text-secondary">{{cast.character}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>