<!-- footer -->
<div class="footer bg-dark fixed-bottom text-light d-flex flex-row justify-content-evenly align-items-baseline  ">

    <!-- footer link -->
    <a href="home" [class.active-link]="isLinkActive('/home')" class="d-flex flex-column justify-content-center align-items-center p-2 rounded-3 px-lg-5 col-4">

        <!-- icon -->
        <img class="link-icon" src="../../../assets/images/Home.svg" alt="icon">
        <!-- text -->
        <p>Home</p>
    </a>

    <!-- footer link -->
    <a href="search" [class.active-link]="isLinkActive('/search')" class="d-flex flex-column justify-content-center align-items-center p-2 rounded-3 px-lg-5 col-4">
        <!-- icon -->
        <img class="link-icon" src="../../../assets/images/Search.svg" alt="icon">
        <!-- text -->
        <p>Search</p>
    </a>

    <!-- footer link -->
    <a href="watchlist"  [class.active-link]="isLinkActive('/watchlist')" class="d-flex flex-column justify-content-center align-items-center p-2 rounded-3 px-lg-5 col-4"> 
        <!-- icon -->
        <img class="link-icon" src="../../../assets/images/Save.svg" alt="icon">
        <!-- text -->
        <p>Watch List</p>
    </a>




</div>