.tab {
    border-bottom: 2px solid transparent;
    font-size: 2rem;
}

.tab:hover {
    cursor: pointer;
    background-color: #058bd4;
    ;
}

.movie-link {
    width: 20vw;
    height: auto;
    border-top: 1px solid rgba(255, 255, 255, 0);
}



.active-tab {
    border-bottom: 2px solid #058bd4;
}



@media (max-width: 767px) {
    .movie-link {
        width: 32vw;
        height: auto;
    }   

    .tab {
        font-size: .7rem;
    }
}