input {
    background-color: rgb(61, 61, 61);
    color: white;
    border-radius: 1rem;
    border: none;
}

input::placeholder {
    color: gray;
}

button {
    background-color: rgb(61, 61, 61);
    color: white;
    border-radius: 0 1rem 1rem 0;
    border: none;
}

.movie-link{
    text-decoration: none;
}

@media (max-width: 767px) {

    .not-found-div {
        height: 70vh;
    }

    .movie-img {
        height: 25vh;
  
    }

}