
input{
    background-color: rgb(61, 61, 61);
    color: white;
    border-radius: 1rem;
    border:none;
}

input::placeholder{
    color: gray;
}

.search-button{
    background-color: rgb(61, 61, 61);
    color: white;
    border-radius: 0 1rem 1rem 0;
    border:none;
}