  <!-- loading screen -->
    <app-loading-screen [isLoading]="isLoading"/>

    <div class="container-md">
    
    <!-- search -->
    <app-search-bar [title]="searchTitle"></app-search-bar>

    <!-- top 10 slider -->
    <app-top10-slider 
    [top10]="top10"/>

    <!-- top categories -->
    <app-top10-categories 
    [categories] = "categories" 
    [movies]="movies" [currentCategory]="currentCategory" 
    (setCategory)="setCategory($event)"/>

    <!-- footer -->
    <app-footer/>
</div>