  <!-- loading screen -->
    <app-loading-screen [isLoading]="isLoading"/>

    <div class="container-md bg-main">
    
  
    <!-- search input -->
    <form class="d-flex flex-row align-items-stretch mt-5 px-3 input-group mb-3">
        <!-- label -->
        <label class="text-light fs-3 px-2">What do you want to watch ?</label>
        <!-- input -->
        <input  #searchInput class="col-10 py-2 px-4 input" type="text"  placeholder="Search..." (keyup)="setQuery(searchInput.value)">
        <!-- submit -->
        <a class="btn btn-outline-secondary search-button col-2 d-flex flex-column  align-items-center justify-content-center"
        href="search/{{query}}">
            <img src="../../../assets/images/Search-Button.svg">
        </a>
    </form>

    <!-- top 10 slider -->
    <app-top10-slider [isLoading]="isLoading"></app-top10-slider>
    <!-- top 10 categories -->
    <app-top10-categories [isLoading]="isLoading"></app-top10-categories>
    <app-footer></app-footer>
</div>