
.moive-item {
    text-decoration: none; 
    color: white;
}

.movie-item:hover{
    border: 1px solid white;
}

.movie-img {
    height: 50vh;
    width: auto;
    border-radius: 1rem;
}

.icon-img {
    height: 1.5rem;
    width: auto;
}

@media (max-width: 767px) {

    .empty-div {
        height: 70vh;
    }

    .movie-img {
        height: 25vh;
  
    }

}