<app-loading-screen [isLoading]="isLoading"/>

<div class="d-flex flex-column  justify-content-start  gap-4 py-3">

    <!-- watchlist header -->
    <app-header [title]=this.headerTitle />

    <div class=" d-flex flex-column gap-5 p-4 ">

        <!-- movie -->
        <a class="moive-item d-flex flex-row justify-content-start gap-3 " *ngFor="let movie of movies" href="details/{{movie.id}}">
            <app-movie-search-item [movie]="movie"/>
        </a>


        <!-- empty watchlist div -->
        <div *ngIf="savedMovies" [style.display]="'none'"
            class=" empty-div p-5  d-flex flex-column justify-content-center align-items-center text-center">
            <img src="../../../assets/images/Popcorn.png" alt="no-result">
            <h1 class="text-light">You don't have any saved films</h1>
          
            <app-search-bar></app-search-bar>
            <p class="text-secondary px-2">Find your movie by Type, Title, Categories, Year, etc.</p> 
        </div>
    </div>


    <app-footer></app-footer>

</div>