<div class="d-flex flex-column  justify-content-start  gap-4 py-3">

    <!-- watchlist header -->
    <div class=" d-flex flex-row justify-content-start align-items-center px-3 d-flex d-md-none">
        <!-- return button -->
        <a href="/home" class="col-4 t">
            <img src="../../../assets/images/ArrowLeft.png" alt="leftarrow">
        </a>
        <!-- header title -->
        <h3 class="col-4 fw-bold text-light  text-center">Watch List</h3>

    </div>

    <div class=" d-flex flex-column gap-5 p-4">

        <!-- movie -->
        <a class="moive-item d-flex flex-row justify-content-start gap-3 " 
        *ngFor="let movie of movies"
            href="details/{{movie.id}}"
            >
            <img class="movie-img" src="https://image.tmdb.org/t/p/original/{{movie?.poster_path}}" alt="poster">

            <div class="d-flex flex-column align-items-lg-center gap-2 w-100">
                <h1>{{movie.title}}</h1>

                <div class="d-flex  gap-1" style="color: #cd720b;">
                    <img class="icon-img" src="../../../assets/images/Star.png" alt="icon">
                    {{movie?.vote_average.toFixed(2)}}
                </div>

                <div class="d-flex  gap-1">
                    <img class="icon-img" src="../../../assets/images/CalendarBlank.png" alt="icon">
                    {{movie?.release_date.slice(0,4) || "Year"}}
                </div>

                <div class="d-flex   gap-1">
                    <img class="icon-img" src="../../../assets/images/Clock.png" alt="icon">
                    {{movie?.runtime || "Minutes"}}
                </div>

                <div class="d-flex   gap-1">
                    <img class="icon-img" src="../../../assets/images/Ticket.png" alt="icon">
                    {{movie?.genre || "Genre" }}
                </div>



            </div>

        </a>


        <!-- empty watchlist div -->
        <div *ngIf="" [style.display]="'none'"
            class=" empty-div p-5  d-flex flex-column justify-content-center align-items-center text-center">
            <img src="../../../assets/images/NoResult.png">
            <h1 class="text-light">We Are Sorry , We Can Not Find The Movie :(</h1>
            <p class="text-secondary px-2">Find your movie by Type, Title, Categories, Year, etc.</p>
        </div>
    </div>


    <app-footer></app-footer>

</div>