<p>top10-slider works!</p>


<!-- wapper -->
<div class="wrapper d-flex justify-content-between align-items-center ">

    <!-- left button -->
    <button (click)="slideLeftButton()" [disabled]="this.sliderTransform === 0" class="btn  fw-bolder mx-2">L</button>
    <!-- right button -->
    <button (click)="slideRightButton()" [disabled]="this.sliderTransform === -1750" class="btn  mx-2 fw-bolder">R</button>

    <!-- slider -->
    <div class="slider d-flex flex-row " [style.transform]=" 'translateX(' +  sliderTransform  + 'px)' ">
        <!-- slider item -->
        <a class="slider-movie-item " *ngFor="let movie of top10" href="details/{{movie.id}}">
            <img class="rounded shadow-lg" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}">
            movie
        </a>
    </div>


</div>