.wrapper {
    overflow: hidden;
    position: relative;
    height: fit-content;
    height: 50vh;
    width: 100%;
}

.slider {
    transition: 0.4s;
    position: absolute;
    /* height: fit-content; */
    gap: 5vw;
}

.slider-movie-item {
    width: 15vw;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0);
}

.slider-movie-item:hover {
    border: 1px solid white;
    cursor: pointer;
}


.slider-movie-item img {
    height: 100%;
    width: 100%;
}

button{
    height: 10vh;
    width: auto;
    z-index: 1;
}

button img{
    height: 100%;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.332);
}

button:disabled{
    border: none;
}


@media (max-width: 767px) {

    .wrapper {
        height: 40vh;
    }

    /* .slider {
        height: 30vh;
        width: auto;
    } */

    .slider-movie-item {
        width: 45vw;
        height: auto;
    }
}