.wrapper {
    overflow: hidden;
    position: relative;
    height: fit-content;
    height: 60vh;
    width: 100%;
    padding: 15px;
}

.slider {
    transition: 0.4s;
    position: absolute;
    /* height: fit-content; */
    gap: 5vw;
}



button{
    height: 10vh;
    width: auto;
    z-index: 1;
}

button img{
    height: 100%;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.332);
}

button:disabled{
    border: none;
}


@media (max-width: 767px) {

    .wrapper {
        height: 40vh;
    }

    /* .slider {
        height: 30vh;
        width: auto;
    } */
}