.tab {
    border-bottom: 2px solid transparent;
    font-size: 2rem;
}

.tab:hover {
    cursor: pointer;
    background-color: #058bd4;
    ;
}

.movie-item {
    width: 25vw;
    height: auto;
    border-top: 1px solid rgba(255, 255, 255, 0);
}

.movie-item:hover{
    cursor: pointer;
    border-top: 1px solid white;
}

.movie-item img {
    height: 100%;
    width: 100%;
}

.active-tag {
    border-bottom: 2px solid #058bd4;
}



@media (max-width: 767px) {
    .movie-item {
        width: 32vw;
        height: auto;
    }   

    .tab {
        font-size: .7rem;
    }
}